.myInput{
    border:1px solid 333333;
    background-color: #333333;
    margin: 5px;
    padding: 10px;
    width:100vw;
    display :flex;
    flex-direction: row;
    margin : 5px auto;
    display: block;
}

.getCitiesButton{
    margin: 10px;
    height:35px;
    background-color: #fd5e53;
    width: 100px;
    border: 1px solid #333333;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;

}